**
!Dockerfile
!Dockerfile.dev
!package.json
!package-lock.json
!next-env.d.ts
!next.config.mjs
!postcss.config.mjs
!tsconfig.json
!proxy.ts
!app/
!app/**
!components/
!components/**
!lib/
!lib/**
!public/
!public/**
